.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5%;  /* Reduced margins */
    margin-right: 5%; /* Reduced margins */
}

.column {
    flex: 1;  /* Ensures that columns take up equal space */
    max-width: 30%;  /* Adjust to span approximately 30% of the row */
    padding: 10px;  /* Adequate padding around columns */
    box-sizing: border-box; /* Ensure padding doesn’t affect total width */
}

.boxList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: rgb(230, 0, 0);
    border-radius: 25px;
    flex: 1;
    max-width: 100%; 
    color: #000;
    border: 5px solid black;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.DinsideBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Dicon {
    height: 60px;
    width: 60px;
    padding: 10px;
}

.DinsideText {
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 769px) {
    .row {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .column {
        max-width: 100%; 
        padding: 10px 0;
    }

    .boxList {
        max-width: 100%;
    }
}
